<div class="dash-wrapper">
  <div class="dash-icon">
    <a href="/" class="dash-link">teams</a>
  </div>
  <div class="dash-icon">
    <a href="/" class="dash-link">stand ups</a>
  </div>
  <div class="dash-icon">
    <a href="/" class="dash-link">summaries</a>
  </div>
</div>