<div class="dash-wrapper">
  <div class="dash-icon">
    <a href="/teams" class="dash-link">teams</a>
  </div>
  <div class="dash-icon">
    <a href="/stand_ups" class="dash-link">stand ups</a>
  </div>
  <div class="dash-icon">
    <a href="/summaries" class="dash-link">summaries</a>
  </div>
</div>