<%= stylesheet_link_tag "header.css" %>
<div class="header-wrapper">
  <div class="header-logo">
    <a href="/" class="header-title">ss</a>
  </div>
  <div class="header-nav">
    <div class="header-nav--link">
      <%= current_user.email %>
    </div>
  </div>
</div>