.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid black;
  box-shadow: 0rem .05rem .1rem grey;
  max-height: 5rem;
  width: 100%;
  margin-bottom: 4rem;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.header-title {
  padding: .5rem;
  color: #38678b;
  font-size: 2rem;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
}

.header-nav--link {
 color: #38678b;
 font-size: .8rem;
 margin: 1rem;
 padding: .5rem;
}